.btn-add {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.title-case {
    text-transform: capitalize;
}

.title-group {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding: 0 15px;
}

.format-list {
    padding: 0 10px;
}